<table class="table-striped crud-table">
    <thead>
        <tr>
            <th class="col-xs-12 col-sm-3">Name</th>
            <th class="col-xs-12 col-sm-2">Phone</th>
            <th class="col-xs-12 col-sm-2">Email</th>
            <th class="col-xs-12 col-sm-3">Adress</th>
            <th class="col-xs-12 col-sm-2">Location</th>
        </tr>
    </thead>
    <tbody *ngIf="items">
        <tr *ngFor="let item of items">
            <td>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removeRegister(item._id)"></span>
                <input type="text" class="col-xs-12 col-sm-12" [(ngModel)]="item.name" (change)="updateRegs(item)">
            </td>
            <td><input type="text" class="col-xs-12 col-sm-12" [(ngModel)]="item.phone"></td>
            <td><input type="email" class="col-xs-12 col-sm-12" [(ngModel)]="item.email"></td>
            <td><input type="text" class="col-xs-12 col-sm-12" [(ngModel)]="item.adress"></td>
            <td>
                <input type="text" placeholder="Lat" class="col-xs-12 col-sm-6" [(ngModel)]="item.location.lat">
                <input type="text" placeholder="Lon" class="col-xs-12 col-sm-6" [(ngModel)]="item.location.lon">
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary pull-right" (click)="addRegister()">Add register</button>
